/*variabelen, hele website*/
:root {
  --kleur-header-footer: hsl(0, 0%, 33%);
  --kleur-groen: rgb(161 201 191);
  --kleur-achtergrond: rgb(179 186 192);
}

main h2{
  text-align: center;
}

body {
  background: var(--kleur-achtergrond);
  font-family: sans-serif;
}

header {
  display: flex;
  height: 100%;
  background-color: var(--kleur-header-footer);
  color: var(--kleur-groen);
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


header a, 
header a:visited {
  color: var(--kleur-groen);
}

.menu,
.menu a,
.menu a:visited {
  color: var(--kleur-groen);
}


.flex-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background-color: var(--kleur-header-footer);
  color: var(--kleur-groen);
}
.menu li {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu a,
#submenu-toggle div {
  display: block;
  padding: 10px;
  text-decoration: underline;
  cursor: pointer;
}

#submenu {
  top: 40px;
  left: 0;
  min-width: 100%;
  background-color: var(--kleur-hover);
  position: absolute;
  padding: 0;
  opacity: 0;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease-in-out;
}

#submenu-toggle:hover #submenu {
  opacity: 1;
  transform: scaleY(1);
}

#submenu li {
  text-align: left;
}

#submenu-toggle {
  position: relative;
}

/*container grid, hele website*/

.container-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 0.25fr 6fr 0.5fr;
  gap: 0px;
}

/* header */
.container-grid-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
}

/*nav*/
.container-grid-item:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

/*main*/
.container-grid-item:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
}
/*footer*/
.container-grid-item:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: -1;
}

 


footer{
  height: 100%;
  background-color: var(--kleur-header-footer);
  color: var(--kleur-groen);
}

.kaart-container{
  display: flex;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.familie-kaart{
  box-shadow: 5px 5px 5px gray;
  background: white;
  flex: 0 0 40%;
  padding: 10px;
  margin: 10px 0;
}

.create-formulier{
  border: 10px solid var(--kleur-header-footer);
}