/*variabelen, hele website*/
:root {
  --kleur-header-footer: hsl(165, 27%, 95%);
  --kleur-groen: hsl(165, 27%, 71%);
  --kleur-lichtgroen: hsl(165, 27%, 80%);
  --kleur-achtergrond: hsl(0, 0%, 90%);
  --kleur-side: hsl(165, 27%, 30%);
  --schaduw: 1px 1px 1px hsl(0, 0%, 70%);
  --kleur-text-donker: hsl(0, 0%, 20%);
  --kleur-text-licht: hsl(0, 0%, 98%);
}

main {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
}

main h2 {
  text-align: center;
  font-weight: lighter;
}

body {
  background: var(--kleur-achtergrond);
  font-family: sans-serif;
  color: var(--kleur-text-donker);
}

header {
  display: flex;
  height: 100%;
  background-color: var(--kleur-header-footer);
  color: var(--kleur-groen);
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: var(--schaduw);
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
}


header a,
header a:visited {
  color: var(--kleur-groen);
}

.menu,
.menu a,
.menu a:visited {
  color: var(--kleur-text-licht);
}


.flex-menu {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: var(--kleur-groen);
}

ul.menu {
  padding: 0;
}

.menu li {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu a,
#submenu-toggle div {
  display: block;
  padding: 10px;
  text-decoration: underline;
  cursor: pointer;
}

#submenu {
  top: 40px;
  left: 0;
  min-width: 100%;
  background-color: var(--kleur-header-footer);
  position: absolute;
  padding: 0;
  opacity: 0;
  z-index: 1;
  transform: scaleY(0);
  transform-origin: top;
  transition: all 0.3s ease-in-out;
}

#submenu-toggle:hover #submenu {
  opacity: 1;
  transform: scaleY(1);
}

#submenu li {
  text-align: left;
}

#submenu-toggle {
  position: relative;
}

#onbetaald {
  color: red;
}

/*container grid, hele website*/

.container-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 0.25fr 6fr 0.5fr;
  gap: 0px;
}

#sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: var(--kleur-side);
}

footer {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: -1;
  height: 100%;
  background-color: var(--kleur-header-footer);
  color: var(--kleur-groen);
}

button,
a.knop {
  display: flex;
  width: 100%;
  padding: 0.5rem 1rem;
  justify-content: center;
  font-size: 1rem;
  background-color: var(--kleur-header-footer);
  box-shadow: var(--schaduw);
  border: 0;
  border-radius: 0.25rem;
  color: var(--kleur-text-donker);
  text-decoration: none;
}

button:hover,
a.knop:hover {
  background-color: var(--kleur-lichtgroen);
  color: black;
}

button.danger {
  color: red;
}

.kaart-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.kaart {
  box-shadow: var(--schaduw);
  background: white;
  flex: 0 0 40%;
  padding: 10px;
  margin: 10px 0;
}

.create-formulier {
  padding: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

input {
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: var(--schaduw);
}

.search-form {
  padding: 1rem;
}

.padding {
  padding: 1rem;
}

a.link {
  padding: 1rem;
  display: flex;
}

.options {
  display: flex;
  gap: 1rem;
}

.options a.knop {
  display: flex;
  flex: 1 1 0;
}